

{% extends 'base.html.twig' %}

{% block title %} read {{title}} {% endblock %}

{% block body %}
 <h1>{{ title}} </h1>
<div>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates veniam voluptatum ullam ipsum illo, consequuntur, tempore ducimus vero consectetur ipsam est earum qui dolorum odit vitae necessitatibus, dicta velit laboriosam! </p>

<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates veniam voluptatum ullam ipsum illo, consequuntur, tempore ducimus vero consectetur ipsam est earum qui dolorum odit vitae necessitatibus, dicta velit laboriosam! </p>

<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates veniam voluptatum ullam ipsum illo, consequuntur, tempore ducimus vero consectetur ipsam est earum qui dolorum odit vitae necessitatibus, dicta velit laboriosam! </p>
</div>

<h2>Comments ({{comments | length}}) </h2>

<ul>
{% for comment in comments %}
<li>{{comment}}</li>
{% endfor %}
</ul>

{% endblock %}